.myTable {
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  margin: auto;
  width: 100% !important;
}

.myTable th {
  background-color: #ddd;
}

.myTable th:hover {
  background-color: #aaa;
}

.myTable th:last-child:hover {
  background-color: #ddd;
}

.myTable2 {
  margin: auto;
  width: 100% !important;
}

.myTable2 th:hover {
  background-color: #ddd !important;
}
/*
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
*/
.tableContainer {
  margin: auto;
  margin-top: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  width: 80%;
}

.tableHeader {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px 15px 0px 0px;
  width: "100%";
  padding: 10px;
  margin-bottom: 0px;
}

.tableContainer .formHeader {
  background-color: rgba(255, 255, 255, 0.85);
}

.tableBody {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 10px;
}

.tableSelectShow {
  width: 20% !important;
  display: flex;
  /* justify-content: center !important; */
  align-items: center;
  /* border: 1px solid red; */
  min-height: 70px;
}

.tableTitle {
  /* border: 1px solid red; */
  display: flex;
  float: left;
  width: 60% !important;
  justify-content: center !important;
  align-items: center;
  min-height: 70px;
}

.tableSearchBar {
  display: flex;
  justify-content: center !important;
  align-items: center;
  min-height: 70px;
  width: 20% !important;
  /* border: 1px solid red; */
  text-align: center !important;
}
.tableSearchBar input {
  width: 100%;
}

/*
/
/
/
*/

.tableContainerTighter {
  width: 70% !important;
}

/*
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
*/

.logContainer {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 15px;
  margin: auto;
  margin-top: 100px;
  width: 400px;
  padding: 10px;
  text-align: center;
}

#logForm {
  margin: auto;
  margin-left: 10px;
  padding: 10px;
}
/*
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
*/

.labelTextInput {
  font-weight: 600;
}
/*
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
*/

.formContainer {
  margin: auto;
  width: 600px;
  text-align: center;
}

.formHeader {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px 15px 0px 0px;
  width: "100%";
  padding: 10px;
  margin-bottom: 0px;
}

.formBody {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0px 0px 15px 15px;
  padding: 10px;
}

.formFooter {
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  margin: 0px;
  margin-bottom: 0px;
  margin-top: 50px;
  text-align: center;
}

.formButtonWrapper {
  display: inline-block;
  width: 49%;
  /* margin: -10px; */
}

.formBody button {
  width: 100%;
  margin: 0px;
  text-align: center;
}

.formFooter .formButtonWrapper:first-child {
  margin-right: 2%;
}

.formBody .formFooter .formButtonWrapper:first-child .btn {
  border-radius: 0px 0px 0px 15px;
}

.formBody .formFooter .formButtonWrapper:last-child .btn {
  border-radius: 0px 0px 15px 0px;
}

.formPickersContainer {
  width: 100%;
  margin: 0px;
  text-align: center;
  display: flex;
  /* justify-content: center; */
  align-items: baseline;
}
/*
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
*/

/*
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
*/

.datePickerWrapper {
  display: inline-block;
  width: 50%;
}

input {
  text-align: center;
}

.is-invalid {
  padding-left: 36px !important;
  border-width: 1px !important;
}

select {
  text-align-last: center;
  direction: unset;
  background: none;
}

.selectError {
  appearance: none;
}

.errorMessage {
  font-weight: 600;
  color: #ff0033;
  /* border: 1px solid red; */
  border-radius: 0px 0px 15px 15px;
  /* background-color: rgba(255, 0, 0, 0.15); */
  width: 100%;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 20px;
}

/* .headerError {
  background-color: rgba(255, 0, 33, 1) !important;
  -webkit-transition: background-color 700ms linear;
  -ms-transition: background-color 700ms linear;
  transition: background-color 700ms linear;
} */

.headerLogError {
  background-color: rgba(255, 0, 33, 0.9) !important;
  font-weight: 700;
  border-radius: 15px 15px;
  width: "100%";
  padding: 10px;
  margin-bottom: 0px;
}

.formContainerError {
  border: 1px solid #ff0033;
  border-radius: 20px;
  outline: none;
  box-shadow: 0px 0 50px #ff0033;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.5em !important;
}
